<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Lista de Eventos</title>
  <link rel="stylesheet" type="text/css" href="/css/styleListaEventos.css">
</head>
<body>

  <!-- Cabeçalho -->
  <header class="cabecalho">
      <figure>
          <img class="logo" id="imgTopo" src="/img/Logo-Zeiss-Coop-Transparent.png" alt="Logo Zeiss">
          <img class="logo" id="imgSenai" src="/img/senai-azul.png" alt="Logo Senai Azul">
      </figure>
  </header>  


  <!-- Rodapé -->
  <footer class="rodape">
      <h3>R. Armogaste José da Silveira, 612 - St. Centro Oeste</h3>
      <h3>Goiânia - GO, 74560-550</h3>
      <h3>CNPJ: 03.783.850/0018-40</h3>
      <figure>
          <img class="logo-pequena" src="/img/SENAI_2024_completa_negativada.png" alt="Logo SENAI">
      </figure>
  </footer>

  <!-- JavaScript -->
  <script src="/js/listaEventos.js"></script>

</body>
</html>
