<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Página Inicial</title>
  <link rel="stylesheet" href="/css/styleInicio.css">
</head>
<body>

  <!-- Cabeçalho -->
  <header class="cabecalho">
    <figure>
      <img class="logo" id="imgTopo" src="/img/Logo-Zeiss-Coop-Transparent.png" alt="Logo Zeiss">
      <img class="logo" id="imgSenai" src="/img/senai-azul.png" alt="Logo Senai Azul">
    </figure>
  </header>

  <!-- Conteúdo principal -->
  <main class="container-inicio">
    <section class="boas-vindas">
      <h1>Bem-vindo ao Sistema de Gerenciamento SENAI ZEISS</h1>
      <h3>Herzlich Willkommen</h3>
      <p>Selecione uma das opções abaixo para navegar:</p>
    </section>

    <nav class="menu-links">
      <a href="/projetos" class="botao-link">Projetos</a>
      <a href="/usuarios" class="botao-link">Usuários</a>
      <a href="/eventos/listar" class="botao-link">Eventos</a>
      <a href="/servicos" class="botao-link">Serviços</a>
      <a href="/visitas-tecnicas" class="botao-link">Visitas Técnicas</a>
    </nav>
  </main>

  <!-- Rodapé -->
  <footer class="rodape">
    <h3>R. Armogaste José da Silveira, 612 - St. Centro Oeste | Goiânia - GO, 74560-550</h3>
    <h3>CNPJ: 03.783.850/0018-40</h3>
    <figure>
      <img class="logo-pequena" src="/img/CentroMetrologia-logo.png" alt="Logo Centro de Metrologia SENAI Zeiss">
    </figure>
  </footer>

</body>
</html>
